/* CSS Stylesheet */

body {
  background-color: RGB(233, 233, 233); /* Requirement 2 */
}

h1 {
  font-size: 32px; /* Requirement 3 */
}

.container {
  border: 2px solid RGB(204, 204, 204); /* Requirement 4 */
} 

button {
  color: RGB(255, 255, 255); /* Requirement 5 */
  border-radius: 4px; /* Requirement 6 */
  padding-top: 10px;
  padding-bottom: 10px; 
}

button:active {
  background-color: RGB(0, 86, 179); /* Requirement 7 */
}