/* CSS Stylesheet */

/* Instructions are copied here for convenience: */
/* 1. Change the background color of the form's body element to "RGB(233, 233, 233)". */
/* 2. Increase the font size of the form's h1 element to 40 pixels. */
/* 3. Add a 2-pixel solid border to the form's container class with the color "RGB(204, 204, 204)". */
/* 4. Change the text color of the form's button element to "RGB(255, 255, 255)". */
/* 5. Add a 4-pixel border radius to the form's button element. */
/* 6. Use the :active pseudo-class to change the background color of the button to "RGB(0, 86, 179)" when active/clicked. */

